body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  word-spacing: 4px;
}
label {
  display: block;
  padding: 1%;
}
input {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  padding: 1%;
}
form {
  background-color: #7dab6d;
}
a {
  text-align: center;
  display: block;
}
ul {
  padding: 0;
}
div {
  margin: 5%;
  padding: none;
}
.park-name {
  text-decoration: underline;
  text-align: center;
}
li {
  text-transform: uppercase;
  list-style: none;
  padding: 1%;
  margin: 1%;
  border: 1px solid #111;
  border-radius: 5px;
}
p {
  text-transform: none;
  text-decoration: none;
}
.not-state {
  color: red;
  text-align: center;
  line-height: 2em;
}
.error-message {
  visibility: hidden;
}
